* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    height: 750px;
    width: 600px;
    box-shadow: 0 10px 20px #000;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;

}

.shape {
    background-color: #002244;
    height: 350px;
    width: 700px;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px #000;
    transform: rotate(20deg);
}

.image {
    height: 200px;
    width: 200px;
    background-image: url(media/Design01.png);
    position: relative;
    top: 220px;
    margin-left: 270px;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}
.title {
    font-size: 20px;
    padding-bottom: 35px;
    color: #0093AF;;
}

.container >h3 {
    font-size: 45px;
    color: #000;
    font-weight: bolder;

 

}

.p {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2;
    color: rgb(105, 100, 109);
    font-size: 50px;
    font-weight: bold;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: .3s;
    color: rgb(40, 163, 194);
}

.icons i:hover {
    transform: scale(1.2);
    color: rgb(18, 192, 235);
}